<h2>Dashboard</h2>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.username }}</td>
    <td>
      <input [(ngModel)]="user.updatedEmail" placeholder="New Email">
      <button (click)="updateEmail(user)">Update Email</button>
    </td>
    <td>
      <input [(ngModel)]="user.updatedPassword" placeholder="New Password" type="password">
      <button (click)="updatePassword(user)">Update Password</button>
    </td>
  </tr>
</table>

<button (click)="logout()">Logout</button>
